@import "./variables.css";
@import "./quill.snow.css";
@import "./quill.styles.css";
@import "./tables.css";

body {
  margin: 0;
  font-family: "Arial", sans-serif;
}

p {
  text-indent: 0;
}

ul {
  list-style-type: none;
}
