table {
  margin: 10px 0;
  width: 100%;
  text-align: center;
  overflow-x: scroll;
}
thead {
  background: #f3dbbb;
}
th {
  padding: 10px 2px;
  background: var(--th-bg);
  color: var(--th-color);
  font-size: 1rem;
  font-weight: 400;
}
td{
  padding: 5px 2px;
}
tbody {
  background: var(--td-bg);
}