:root {
  --main-bg: #fffef7;
  --bthBg: #bd853a;
  --bthBg-hover: #d6a25d;
  --bthMenu-hover: #f3dbbb;
  --borderColor: #dadada;
  
  /* table */
  --th-bg: #bd853a;
  --th-color: white;
  --td-bg: #eac28d;
}
